.home-categories {
    padding: 1rem 5rem;
background-color: var(--bg-light);
    &__title {
        text-align: center;
        margin-bottom: 1rem;
    }


    &__card {
        text-decoration: none;
        background-color: var(--bg-semi-light);
        padding: 1rem;

        p {
            margin-top: 1rem;
            padding: 2px 0;
            font-size: 1.5rem;
            color: var(--color-middle);
            font-weight: 600;
            text-transform: capitalize;
            text-align: center;

            &:hover {
                padding: 0;
                color: var(--color-dark);
                border-top: 1px var(--color-dark) solid;
                border-bottom: 1px var(--color-dark) solid;
            }
        }


    }
}

.nosotros {
    padding: 1rem 5rem;

    &__title {
        text-align: center;
    }

    &__img {
        width: 40%;
    }

    p {
        font-size: 1rem;
        color: black;
        text-align: justify;
    }

}
